# deny most common except .php
<FilesMatch "\.(inc|tpl|h|ihtml|sql|ini|conf|class|bin|spd|theme|module)$">
deny from all
</FilesMatch>
                           
<IFModule mod_rewrite.c>   
	RewriteEngine On 
	RewriteRule ^index.html sms3030/index.php [L]
	RewriteRule ^order.html sms3030/order.php [L]
	RewriteRule ^404.html sms3030/404.php [L]
	RewriteRule ^aboutus.html sms3030/aboutus.php [L]
	RewriteRule ^lines.html sms3030/lines.php [L]
	RewriteRule ^reseller.html sms3030/reseller.php [L]
	RewriteRule ^single-reseller.html sms3030/single-reseller.php [L]
	RewriteRule ^plans.html sms3030/plans.php [L]
	RewriteRule ^single-plan.html sms3030/single-plan.php [L]
	RewriteRule ^contactus.html sms3030/contactus.php [L]
	RewriteRule ^news.html sms3030/news.php [L]
	RewriteRule ^single-news([0-9]+).html sms3030/single-news.php?id=$1 [L]	
	RewriteBase / 	

#Skip WWW	
	#RewriteCond %{HTTP_HOST} ^www.mediateq.ir [NC] 
	#RewriteRule ^(.*)$ http://mediateq.ir/$1 [L,R=301]
#Add WWW		
	RewriteCond %{HTTP_HOST} ^mediateq.ir$ [NC]
	RewriteRule ^(.*)$ http://www.mediateq.ir/$1 [L,R=301]	
	
# proc/self/environ? no way!
	RewriteCond %{QUERY_STRING} proc/self/environ [OR]

	# Block out any script trying to set a mosConfig value through the URL
	RewriteCond %{QUERY_STRING} mosConfig_[a-zA-Z_]{1,21}(=|\%3D) [OR]

	# Block out any script trying to base64_encode crap to send via URL
	RewriteCond %{QUERY_STRING} base64_encode.*(.*) [OR]

	# Block out any script that includes a <script> tag in URL
	RewriteCond %{QUERY_STRING} (<|%3C).*script.*(>|%3E) [NC,OR]

	# Block out any script trying to set a PHP GLOBALS variable via URL
	RewriteCond %{QUERY_STRING} GLOBALS(=|[|\%[0-9A-Z]{0,2}) [OR]

	# Block out any script trying to modify a _REQUEST variable via URL
	RewriteCond %{QUERY_STRING} _REQUEST(=|[|\%[0-9A-Z]{0,2})

	# Send all blocked request to homepage with 403 Forbidden error!
	RewriteRule ^(.*)$ index.php [F,L]	

</IFModule>
ErrorDocument 404 http://www.sms3030.ir/404.html
# Enable / Disable directory Listing/Browsing
Options -Indexes
IndexOptions -FancyIndexing
ServerSignature Off

#RewriteCond %{HTTP_HOST} ^mediateq.ir$
#RewriteRule ^/?$ "http\:\/\/www\.mediateq\.ir\/" [R=301,L]
